/* .despesas-por-tipo {
    width: 32.5%;
} */

/* .despesas-por-tipo .apexcharts-legend-series {
    width: 80%;
}

.despesas-por-tipo .apexcharts-legend-text {
    display: flex;
    width: 100%;
} */