.rendimentos-percentual {
    width: 70%;
}

/* .rendimentos-percentual .legenda {
    align-items: flex-end;
}

.rendimentos-percentual .legenda-serie {
    min-width: 290px;
}

.rendimentos-percentual .legenda-serie span {
    text-align: left;
}

.legenda-serie span:last-child {
    width: 45%;
} */

.rendimentos-percentual .apexcharts-legend-text {
    display: flex;
    min-width: 290px;
    justify-content: space-between;
}

.rendimentos-percentual .apexcharts-legend-text span {
    /* flex: 1; */
    text-align: left;
}

.rendimentos-percentual .apexcharts-legend-text span:last-child {
    width: 50%;
}

@media only screen and (max-width: 1300px) {
    .rendimentos-percentual {
        width: 66.25%;
    }
}