.realizado-previsto-planejamento-mensal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.realizado-previsto-planejamento-mensal .legenda-serie:last-child {
    font-weight: bold;
}

/* 
    .realizado-previsto-planejamento-mensal .legenda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .realizado-previsto-planejamento-mensal .legenda-serie {
        display: flex;
        min-width: 220px;
    }

.realizado-previsto-planejamento-mensal .legenda-serie span {
    flex: 1;
    text-align: left;
}

.realizado-previsto-planejamento-mensal .legenda-serie span:last-child {
    flex: 2;
    text-align: right;
} */