.variacao-patrimonial {
    width: 29%;
}

.variacao-patrimonial .legenda-serie {
    min-width: 290px;
}

.variacao-patrimonial .legenda-serie:last-child {
    font-weight: bold;
}

.variacao-patrimonial .legenda-serie span {
    text-align: left;
}

.variacao-patrimonial .legenda-serie span:last-child {
    width: 60%;
}

@media only screen and (max-width: 1300px) {
    .variacao-patrimonial {
        width: 32.5%;
    }

}