.aportes-pagamentos-planejamento-mensal {
    width: 70%;
    display: flex;
    align-content: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
}

.aportes-pagamentos-planejamento-mensal h2 {
    width: 50%;
}

.aportes-pagamentos-planejamento-mensal .titulo {
    min-height: 2rem;
    font-weight: 700;
    margin-bottom: -10px;
}

.aportes-pagamentos-planejamento-mensal .subtitulo {
    margin-top: -10px;
    font-weight: bold;
}

/* Slider */
.grid-objetivos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.paginacao {
    margin: 0 auto;
    color: var(--tertiary-color);
}

.paginacao button {
    width: 36px;
    height: 36px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.paginacao button:hover {
    background-color: #00a6d6;
}

.paginacao button:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
}
/* End */

.aportes-pagamentos-planejamento-mensal .objetivos {
    width: calc(25% - 8px);
    text-align: center;
    color: var(--primary-color);
}

.aportes-pagamentos-planejamento-mensal .legenda {
    align-items: flex-end;
    width: calc(50% - 10px);
    margin: 10px 0;
}

.aportes-pagamentos-planejamento-mensal .legenda-serie:last-child {
    font-weight: bold;
}

.aportes-pagamentos-planejamento-mensal .ocultar-objetivos {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}