.receitas-recebido-previsto {
    width: 29%;
}

.receitas-recebido-previsto h2 {
    font-size: 1.3em;
    color: #24b7d9;
    margin: 10px auto;
    font-weight: bold;
}

.receitas-recebido-previsto .legenda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.receitas-recebido-previsto .legenda-serie {
    display: flex;
    min-width: 190px;
}

.receitas-recebido-previsto .legenda-serie:last-child {
    font-weight: bold;
}

.receitas-recebido-previsto .legenda-serie span {
    flex: 1;
    text-align: left;
}

.receitas-recebido-previsto .legenda-serie span:last-child {
    flex: 2;
    text-align: right;
}

@media only screen and (max-width: 1300px) {
    .receitas-recebido-previsto {
        width: 32.5%;
    }

}