.controle-investimentos {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controle-investimentos h2 {
    margin-right: auto;
    margin-bottom: 12px;
}

.controle-investimentos .legenda {
    align-items: flex-end;
    margin-top: 0;
}

.controle-investimentos .legenda-serie {
    min-width: 290px;
}

.controle-investimentos .legenda-serie:last-child {
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .controle-investimentos {
        width: 66.25%;
    }
}