.atual-desesjado-planejamento-global {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.atual-desesjado-planejamento-global .legenda-serie:last-child {
    font-weight: bold;
}