.variacao-rendimentos-moeda {
    width: 29%;
}

.variacao-rendimentos-moeda .legenda {
    align-items: flex-start;
}

.variacao-rendimentos-moeda .legenda-serie {
    display: flex;
    min-width: 290px;
}

.variacao-rendimentos-moeda .legenda-serie:last-child {
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .variacao-rendimentos-moeda {
        width: 32.5%;
    }

}