.saldo-investimentos {
    width: 70%;
}

.saldo-investimentos .legenda {
    align-items: flex-end;
}

.saldo-investimentos .legenda-serie {
    min-width: 290px; 
}

.saldo-investimentos .legenda-serie:last-child {
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .saldo-investimentos {
        width: 66.25%;
    }
}