.rendimentos-moeda {
    /* flex: 3; */
    width: 70%;
}

.rendimentos-moeda .legenda {
    align-items: flex-end;
}

.rendimentos-moeda .legenda-serie {
    display: flex;
    min-width: 290px;
}
/* 
.rendimentos-moeda .legenda-serie:last-child {
    font-weight: bold;
} */

.rendimentos-moeda .apexcharts-legend :last-child .apexcharts-legend-text {
    font-weight: 700 !important;
}

.rendimentos-moeda .legenda-serie span:last-child {
    width: 45%;
}

@media only screen and (max-width: 1300px) {
    .rendimentos-moeda {
        width: 66.25%;
    }
}