@font-face {
  font-family: 'Cocogoose';
  src: url('./assets/fonts/Cocogoose.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./assets/fonts/Segoe-UI.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./assets/fonts/Segoe-UI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); */

:root {
  --primary-color: #24b7d9;
  --secondary-color: #84bc26;
  --tertiary-color: #8a8a8a;
  --red-color: #ff1616;
  --yellow-color: #FF9900;
  --dark-blue-color: #163286;
}

body {
  font-family: "Segoe UI", 'Cocogoose', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Segoe UI", source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

.App {
  position: relative;
  background-color: var(--primary-color);
  padding: 10px 0;
}

.container-main {
  display: flex;
  width: calc(100% - 84px);
  box-sizing: border-box;
  margin-left: auto;
  padding: 0 10px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 0;
}

.container-left {
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

section {
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}

section h2 {
  font-size: 20px;
  line-height: 28px;
  color: #24b7d9;
  font-weight: bold;
}

.apexcharts-legend {
  flex-direction: column;
}

strong {
  font-weight: bold;
}

/* Donut chart css template  */
.donut-chart {
  width: 32.5%;
}

.donut-chart .apexcharts-legend-series {
  width: 80%;
}

.donut-chart .apexcharts-legend-text {
  display: flex;
  width: 100%;
}

@media (max-width: 1150px) {
  .donut-chart .apexcharts-legend-series {
    width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  .container-main {
    width: calc(100% - 70px);
  }

}